<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Role Selection</title>
  <link rel="stylesheet" href="/css/output.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="flex flex-col h-lvh">
<div th:replace="~{fragments/navbars :: navbar_pet_owner}"></div>
<div class="flex flex-col items-center justify-start pt-8 pb-12 px-4 flex-grow max-w-4xl mx-auto w-full">

  <h1 class="text-4xl sm:text-5xl font-extrabold text-gray-900 mb-2 text-center">
    Add Pet Profile
  </h1>



  <form th:action="@{/my-pets/add}" th:object="${pet}" method="POST">
    <label>Name: <input type="text" th:field="*{name}"></label>
    <label>Type: <input type="text" th:field="*{type}"></label>
    <label>Breed: <input type="text" th:field="*{breed}"></label>
    <label>Age: <input type="number" th:field="*{age}"></label>
    <label>Description: <input type="text" th:field="*{description}"></label>

    <button type="submit">Add pet</button>
    <button type="reset" value="reset">Reset</button>
    <a th:href="@{/my-pets}">Cancel</a>
  </form>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>